.div01{
    border: solid 2px rgb(179, 178, 178);
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.822); */
    background: linear-gradient(to right, #000000,  #c956f7); /* Degradê do rosa ao laranja */
    width:fit-content;
    padding: 100px 50px 50px 50px;
    height: 490px;
   
}
body {
    padding-top: 200px;
    margin: 0px;
    justify-content: center;
    display: flex;

}

#email{
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    border-color: rgb(43, 43, 43);
    background-color: #313131;
}

#password{
    width: 250px;
    border-color: white;
    background-color: #313131;
}