<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OF JUSTING</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'cadastre/css/shop.css' %}">
</head>
<body>
    {% csrf_token %}
    <header>
        <h1>KLEBINHO TECNOLOGIAS</h1>
        <nav>
            
            <ul>
                <div class="iniciodposition">
                    <a  class="inciod" href="{% url 'home' %}">Área do Cliente</a>
                </div>
                <li class="incio"><a href="#">Início</a></li>
                <li class="incio"><a href="#">Produtos</a></li>
                <li class="incio"><a href="#">Sobre Nós</a></li>
                <li class="incio"><a href="#">Contato</a></li>
                
                <!-- <li class="inciod"><a href="#">Área do Cliente</a></li> -->
            </ul>
            
        </nav>
    </header>

    <main>
        <!-- <section class="banner">
            <h2>Bem-vindo ao nosso e-commerce!</h2>
            <p>Explore nossos produtos e aproveite as melhores ofertas.</p>
            <button><a href="#">Ver Produtos</a></button>
        </section> -->
        <h3>Produtos em Destaque</h3>
        <section class="produtos">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/712H-Mqd8-L._AC_SL1500_.jpg" alt="Produto 1">
                <h4>Produto 1</h4>
                <p>R$ 99,90</p>
                <a class="btncompra" href="">Adicionar ao carrinho</a>
            </div>
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/51GsX9sf+eL._AC_.jpg" alt="Produto 2">
                <h4>Produto 2</h4>
                <p>R$ 149,90</p>
                <a class="btncompra"  href="">Adicionar ao carrinho</a>
            </div>
            <div class="card">
                <img src="https://th.bing.com/th/id/OIP.1HC66gt5_pNGMn6Gu_lPgwHaHa?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Produto 3">
                <h4>Produto 3</h4>
                <p>R$ 199,90</p>
                <a class="btncompra" href="">Adicionar ao carrinho</a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 OF JUSTING. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
