.div01 {
    
    /* border: solid 2px #F0EB8D; */
    box-shadow: 0 0 15px #222831;
    border-radius: 20px;
    /* background: linear-gradient(circle, #393E46, #00ADB5); */
    /* background: radial-gradient(circle,  #00ADB5, #393E46); */
    background: linear-gradient(45deg, #222831, #393E46);
    width: 1000px;
    padding: 100px 50px 50px 50px;
    height: 700px;

}

body {
    background: radial-gradient(circle,  #222831, #222831);
    /* background-color: #393E46; */
    padding-top: 140px;
    justify-content: center;
    display: flex;

}


.email2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.password2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

 
.email_senha{
  display: flex;
  gap: 10px;
}
.address_phone{
    display: flex;
    gap: 10px;
}
.cpf_birth{
    display: flex;
    gap: 10px;
}

.form-control {
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    border-color: #FFE1FF;
    background-color: #EEEEEE;

}

.form-control:hover {
    box-shadow: 0 0 10px #00ADB5;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(248, 248, 248, 0.5);
    /* Sombra ao focar */
    border-color: #00ADB5;
    /* Cor da borda ao focar */

}

.logintext {
    margin: 0;
    text-align: left;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.btn.btn-outline-primary {
    display: flex;
    justify-content: center;
    margin: auto;
    border-color: #00ADB5;
    color: #EEEEEE;
}

.btn.btn-outline-primary:hover {
    background-color: #00ADB5;
}

.cadastro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px;
    color: white;
}

.cdcolor {
    color: #00ADB5;
    text-decoration: none;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.address{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.phone{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }

.cpf{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
 }
 .birth{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
 }